/* Removes browser enforced styling. Add to top of every styling sheet */
* {
    margin: 0;
    padding: 0;
    /* Border-box allows us to include the padding and border in an element's total width and height */
    box-sizing: border-box;
}

body {
     /* This is a comment */
     font-family: Arial, Helvetica, sans-serif;
     /* This is another one lol */
     color: #39a6b2;
}

header {
    /* Applying styles to the header */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: #39a6b2;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}

header a {
    /* "none" removes the blue and the underline in the link */
    text-decoration: none;
    color: #fce138;
}

header nav {
    /* Float makes element (<nav>) become an inline element, occupying 100% of parent width */
    /* float: right; */

    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    background-color: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    /* Displays side-by-side */
    display: inline;
    color: #024e76;
    font-size: 30px;
    /* "margin:0" Means It means that left and right margin will 
    take auto margin according to the width of the element and the 
    width of the container */
    margin: 0;
}

footer div {
    float: right;
    /* Affects text in ONLY the footer div container. NOT the footer
    h2 element */
    line-height: 1.5;
    /* Centers the text within its container */
    text-align: center;
}

footer a {
    color: #024e76;
}

.jumbotron {
    height: 600px;
    /* url() links a resource such as an image, web font, or GIF. */
    background-image: url(./images/hero-bg.jpg);
    /* Background-size can set the size of the background image 
    to its original size or make it stretched, repeated, or constrained to fit 
    the available space. */
    background-size: cover;
    background-position: center;
    /* Relative to the position of the previous parent container (header) */
    position: relative;
}

.hero-form {
    color: #024e76;
    background-color: #fce138;
    border: solid 3px #024e76;
    width: 500px;
    padding: 20px;
    bottom: 120px;
    right: 140px;
    position: absolute;
}

.hero-form p {
    margin: 5px 0px 15px 0px;
}

.form-input {
    color: #024e76;
    display: block;
    font-size: 16px;
    border: solid 1px #024e76;
    padding: 7px 15px;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0px  5px;
}

.hero-form button {
    background-color: #024e76;
    color: #fce138;
    padding: 10px 20px;
    font-size: 16px;
    /* Border-radius give the button round edges */
    border-radius: 8px;
}

.intro {
    text-align: center;
}

.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    /* Tells the browser to calculate the left/right margins for us. Top and bottom are 0. Centers the content on the page */
    margin: 0 auto;
    padding-bottom: 50px;
}

.steps {
    text-align: center;
    background: #fce138;
}

.section-title {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 50px 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
}

.primary-border {
    border-color: #fce138;
}

.secondary-border {
    border-color: #39a6b2;
}

.steps div {
    padding-bottom: 80px;
}

.steps img {
    width: 15%;
    margin: 10px 0;
}

.steps h3 {
    color: #024e76;
    font-size: 46px;
    margin-top: 10px;
}

.steps p {
    color: #39a6b2;
    font-size: 23px;
}

.steps span {
    font-size: 38px;
}

.trainers {
    text-align: center;
    padding-bottom: 50px;
}

.trainer {
    overflow: auto;
    width: 900px;
    margin: 0 auto 30px auto;
    background: #024e76;
    color: #fce138;
}

.trainer img {
    width: 35%;
    float: left;
}

.trainer-bio {
    padding: 35px;
    float: left;
    width: 65%;
    }

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.trainer-bio h3 {
    font-size: 32px;
    margin-bottom: 8px;
}

.trainer-bio h4 {
    font-weight: lighter;
    font-size: 26px;
    margin-bottom: 25px;
}

.trainer-bio p {
    font-size: 17px;
    line-height: 1.3;
}

.contact {
    text-align: center;
    background: #024e76;
    padding-bottom: 40px;
}

.contact h2 {
    color: #fce138;
}

.contact-info iframe {
    width: 400px;
    height: 400px;
}

.contact-info div {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    color: white;
}

.contact-info h3 {
    color: #fce138;
    font-size: 32px;
}

.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
}

.contact-info a {
    color: #fce138;
}

/* Reach Out Styles End */












