/* Removes browser enforced styling. Add to top of every styling sheet */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     /* This is a comment */
     font-family: Arial, Helvetica, sans-serif;
     /* This is another one lol */
     color: #39a6b2;
}

header {
    /* Applying styles to the header */
    padding: 20px 35px;
    background-color: #39a6b2;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    /* "none" removes the blue and the underline in the link */
    text-decoration: none;
    color: #fce138;
}

header nav {
    /* Float makes element (<nav>) become an inline element, occupying 100% of parent width */
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    background-color: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    /* Displays side-by-side */
    display: inline;
    color: #024e76;
    font-size: 30px;
    /* "margin:0" Means It means that left and right margin will 
    take auto margin according to the width of the element and the 
    width of the container */
    margin: 0;
}

footer div {
    float: right;
    /* Affects text in ONLY the footer div container. NOT the footer
    h2 element */
    line-height: 1.5;
    /* Centers the text within its container */
    text-align: center;
}

footer a {
    color: #024e76;
}

.hero {
    height: 600px;
    background-image: url(./images/hero-bg.jpg);
}



